.row-5 {
  text-align: center;
  margin-top: 200px;
  font-size: 20px;
}

.col-8 {
  display: block;
  font-size: 18px;
  margin-left: 25%;
  margin-right: 25%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #f154ff;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.col-9 {
  text-align: center;
}
