.col-13 {
  text-align: center;
}

.row-14 {
  font-size: 20px;
  text-align: center;
}

.row-15 {
  font-size: 18px;
  text-align: left;
  margin-left: 25%;
}

.row-16 {
  font-size: 18px;
  text-align: left;
  margin-left: 25%;
}

.row-17 {
  font-size: 18px;
  text-align: left;
  margin-left: 25%;
}

.row-18 {
  font-size: 18px;
  text-align: left;
  margin-left: 25%;
}

.row-19 {
  font-size: 18px;
  text-align: left;
  margin-left: 25%;
}

.row-20 {
  font-size: 18px;
  text-align: left;
  margin-left: 25%;
}

.row-21 {
  font-size: 18px;
  text-align: left;
  margin-left: 25%;
}

.row-22 {
  font-size: 18px;
  text-align: left;
  margin-left: 25%;
}

.row-23 {
  font-size: 18px;
  text-align: left;
  margin-left: 25%;
}
