.row-header {
  background-color: #ff85df;
  color: #ff85df;
  padding: 15px;
}

.dropdownbutton {
  float: right;
  margin-top: 20px;
}

.col-1 {
  float: left;
}

.col-2 {
  text-align: center;
  color: black;
  font-size: 40px;
}

.col-3 {
  float: right;
}
